body {
  background-image: url("https://www.dropbox.com/s/9bg0at1llzmbdkp/whiteplanks2.jpg?dl=1");
  background-color: #fff;
  height: 100%;
  width: 100%;
}

#wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 100px auto 0 auto;
  height: 600px;
  width: 500px;
  background: #ada9a1;
  background: -webkit-gradient(left top, left bottom, color-stop(3%, #ada9a1), color-stop(13%, #dbdbdb), color-stop(53%, #ada9a1), color-stop(91%, #ada9a1));
  background: -webkit-linear-gradient(top, #ada9a1 3%, #dbdbdb 13%, #ada9a1 53%, #ada9a1 91%);
  background: linear-gradient(to bottom, #ada9a1 3%, #dbdbdb 13%, #ada9a1 53%, #ada9a1 91%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ada9a1', endColorstr='#ada9a1', GradientType=0 );
  border-radius: 5%;
  box-shadow: inset 5px 4px 2px #fff, inset -4px -8px 6px 3px rgba(0, 0, 0, 0.7), 10px 9px 12px -2px rgba(0, 0, 0, 0.75);
}

#display {
  box-sizing: border-box;
  padding: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  background-color: #353636;
  margin-top: 20px;
  margin-bottom: 0px;
  width: 60%;
  height: 10%;
  border: solid 2px #1F2424;
  box-shadow: inset 13px 9px 26px -6px rgba(0, 0, 0, 0.6);
  border-radius: 4px;
  font-size: 1.8em;
  color: #060B0B;
}

#buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  height: 50%;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  margin-top: 40px;
}

.keys {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1F2424;
  width: -webkit-calc((100% - 40px) / 5);
  width: calc((100% - 40px) / 5);
  height: -webkit-calc((100% - 30px) / 4);
  height: calc((100% - 30px) / 4);
  margin-bottom: 3%;
  border-radius: 50%;
  text-align: center;
  vertical-align: center;
  font-size: 1.8em;
  color: #fff;
  border: solid 1px #5D7777;
  box-shadow: 1px 5px 3px #252A2A;
  text-shadow: -1px -1px 2px rgba(255, 255, 255, 0.1), 1px 1px 0px rgba(0, 0, 0, 0.8);
}

.keys:active {
  border: solid 1px #434C4C;
  box-shadow: 0px 2px 0px #040304;
  position: relative;
  top: 4px;
}

.keys:focus {
  outline: 0;
}

.logo {
  width: 70%;
  height: 10%;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  margin-top: -50px;
}

#clean {
  background: #DF0101;
  font-size: 1.6em;
}

#divide {
  font-size: 3em;
}

#multi {
  font-size: 3em;
}

#root {
  font-size: 2em;
}

#minus {
  font-size: 3em;
}

#on {
  background: #DF0101;
  font-size: 1.6em;
}

#equal {
  font-size: 3em;
}

#plus {
  font-size: 3em;
}

a {
  background: #000;
  color: #fff;
  text-decoration: none;
  font-family: arial,sans-serif;
  text-align: center;
  font-weight: bold;
  padding: 5px 40px;
  font-size: 1rem;
  line-height: 2rem;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#forkongithub a:hover {
  background: #c11;
  color: #fff;
}

#forkongithub a::before, #forkongithub a::after {
  content: "";
  width: 100%;
  display: block;
  position: absolute;
  top: 1px;
  left: 0;
  height: 1px;
  background: #fff;
}

#forkongithub a::after {
  bottom: 1px;
  top: auto;
}

@media screen and (min-width: 800px) {
  #forkongithub {
    position: fixed;
    display: block;
    top: 0;
    right: 0;
    width: 200px;
    overflow: hidden;
    height: 200px;
    z-index: 9999;
  }
  #forkongithub a {
    width: 200px;
    position: absolute;
    top: 60px;
    right: -60px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
  }
}
